.navbar{
    background-color: #DDA0DD !important;
}

.nav-link{
    color: white !important;
}

#logo{
    float: left;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-cont{
    margin: auto auto;
    margin-top: 50px;
}

#contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.jumbotron{
    background-image: url(/images/jumbo-img.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

html, body{
    height: 100%;
}

#page-content{
    flex: 1 0 auto;
}

#sticky-footer{
    flex-shrink: none;
}